@import 'tailwindcss';

@layer theme {
  :root {
    --font-family-sans: system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}

@layer base {
  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    font-family: var(--font-family-sans);
    line-height: 1.5;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
